/* body{
    overflow-x: hidden;
    overflow-y: scroll;
} */

.about-container img{
    height: 50%;
    width: 30%;
}


.about-container{
    padding: 2rem 1.5rem;

    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}
.about-container p{
    font-weight: 400;
    line-height: 35px;
    font-size: 1rem;
    text-align: justify;

}



@media screen and  (max-width: 780px){
    .about-container{
        flex-direction: column ;
    }
     .about-container img{
        width: 100%;
     }
     .about-container p{
        line-height: 30px;
     }
}
