.containers {
  display: flex;

  gap: 10px;
  width: 100%;
  padding: 4% 2%;

  height: 100vh;
}
.boxes {
  flex: 1;
  overflow: hidden;
  transition: 0.5s;
  margin: 0 2%;

  line-height: 0;

  color: aliceblue;
}
.boxes > video {
  width: 200%;
  height: calc(100% - 10vh);
  border-radius: 20px;

  object-fit: cover;
  transition: 0.5s;
}

.boxes:hover {
  flex: 1 1 50%;
}
.boxes:hover > video {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
