.cart {
    font-size: 1.4rem;
    border-radius: 99px;
    background-color: var(--cart-button);
    width: fit-content;
    padding: 1rem 1rem 0.8rem 0.8rem;
    color: white;
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
    z-index: 20;
    box-shadow: 0 5px 10px black;
}

.cart:hover {
    cursor: pointer;
}

.in-cart-num {
    position: absolute;
    top: -8px;
    right: 0px;
    font-size: 0.8rem;

    background-color: var(--secondary);
    padding: 5px 9px;
    border-radius: 99px;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    display: none;

    z-index: 99;
  }
  
#checkoutContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: 80vh;
    background-color: white;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    display: none;

    z-index: 99;

    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    overflow: hidden;
}

#checkoutContainer .exit-button {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 2rem;

    padding: 0.5rem 1rem;
}

#checkoutContainer .exit-button:hover {
    cursor: pointer;
}

.order-summary {
    width: 100%;
    height: 70%;

    display: flex;

    justify-content: center;
    /* align-items: center; */
    
    overflow: auto;
}

.order-table {
    width: 100%;
    padding: 4rem 2rem;
    
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.order-table .serial-no, .total-table .serial-no {
    width: 10%;
    text-align: center;
}

.order-table .event-name, .total-table .event-name {
    width: 70%;
    /* text-align: center; */
}

.order-table .price, .total-table .price {
    width: 20%;
    text-align: center;
}

.col-head {
    padding-bottom: 20px;
}

.order-row {
    width: 100%;
    display: flex;
    gap: 10px;
}

.total-price {
    text-align: right;
}

.total-row {
    align-self: flex-end;
}

.order-table hr{
    width: 25vmax;
    align-self: flex-end;
    border-color: rgba(207, 206, 206, 0.39);
}

.total-section {
    height: 10%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.total-table {
    width: 100%;
    padding: 2rem 2rem;
    
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.user-details-section {
    height: 10%;
    width: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.user-details-section input {
    width: 30%;
    padding: 0.5rem 1rem;
    border: 1px solid gray;
    border-radius: 10px;
}

.checkout-section {
    height: 10%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.checkout-container {
    padding: 0.5rem 2rem;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.cancel-button {
    width: 50%;
    height: 100%;
    background: transparent;
    border: none;
    box-shadow: inset 0px 0px 0px 2px var(--secondary);
    border-radius: 10px;
    color: var(--secondary);
}

.cancel-button:hover {
    cursor: pointer;
}

.cancel-button:active {
    background: var(--secondary);
    box-shadow: none;
    color: #fff;
}

.submit-button {
    width: 50%;
    height: 100%;
    background: rgb(46, 136, 46);
    border: none;
    border-radius: 10px;
    color: #fff;
}

.submit-button:hover {
    cursor: pointer;
}

.submit-button:active {
    box-shadow: inset 0px 0px 0px 2px rgb(46, 136, 46);
    color: rgb(46, 136, 46);
    background: transparent;
}

@media screen and (max-width: 780px) {
    .user-details-section {
        height: 30%;
        flex-direction: column;
        gap: 5px;
    }

    .user-details-section input {
        width: 80%
    }
}