.event_container{
    display:flex;
    justify-content:center;
    align-items: center;
    padding: 2rem 3rem;
    flex-wrap: wrap;
    border-radius: 20px;
    flex-direction: column;
    background: #002730;
}
.events .card {
  
    position: relative;
   width:320px;
   height:440px;

 
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
      inset -5px -5px 15px rgba(255, 255, 255, 0.1),
      5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
    border-radius: 15px;
   
    transition: 0.5s;
  }
 
  .event_row{
   
    display: flex;
   
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
   
  }
  .event_column {
  
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    flex-wrap: wrap;
  }

  .double-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 2;
  }

 
  
  .events .card:nth-child(2n-1) .box .content a {
    background: var(--secondary);
    
  }
  .events .card:nth-child(2n-1) .box {
      background: var(--blue-gradient);
  
  }
  
  .events .card:nth-child(2n) .box .content a {
    background: var(--primary);
  }
  .events .card:nth-child(2n) .box  {
      background: var(--red-gradient);
  }
  
  /* .events .card:nth-child(3) .box .content a {
    background: #F47646;
  }
  .events .card:nth-child(3) .box {
      background: linear-gradient(135deg,#60b4ec,#0a76e2);
  }
  .events .card:nth-child(4) .box .content a {
    background: #0a76e2;
  }
  .events .card:nth-child(4) .box {
      background: linear-gradient(135deg,#9b51bd,#9445b9);
  }
  .events .card:nth-child(5) .box .content a {
    background: #9b51bd;
  }
  .events .card:nth-child(5) .box {
      background: linear-gradient(135deg,#60b4ec,#0a76e2);
  }
  .events .card:nth-child(6) .box .content a {
    background: #0a76e2;
  }
  .events .card:nth-child(6) .box {
      background: linear-gradient(135deg,#eea849,#f46b45);
  } */
  
  .events .card .box {

    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background: #2a2b2f;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5s;
  }
  
  .events .card .box:hover {
    transform: translateY(-50px);
  }
  
  .events .card .box:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.03);
  }
  
  .events .card .box .content {
    padding: 20px;
    text-align: center;
  }
  
  .events .card .box .content h2 {
    position: absolute;
    top: -20px;
    right: 30px;
    font-size: 8rem;
    color: rgba(8, 7, 7, 0.1);
  }
  
  .events .card .box .content h3 {
    font-size: 1.8rem;
    font-size: clamp(1.2rem, 2.5vw, 2rem);
    color: #fff;
    z-index: 1;
    transition: 0.5s;
    margin-bottom: 15px;
  }
  
  .events .card .box .content p {
    font-size: 1rem;
    font-size: clamp(0.8rem,2vw, 1.2rem);
    font-weight: 300;
    color: rgba(255, 255, 255, 0.9);
    z-index: 1;
    transition: 0.5s;
  }
  
  .events .card .box .content a {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    background: black;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    margin-top: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
  }
  .events .card .box .content a:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.664);
    background: #382727;
    color: #ffffff;
  }
  

  @media screen and (max-width: 780px) {
    .events .card{
      width: 300px;
      height:300px;
    }
    /* .events .card .box .content p{
      font-size:0.6rem;
    }
    .events .card .box .content h3{
       font-size:1rem;
    } */
    .event_container{
      /* height:80vh;
      overflow:scroll; */
      flex-direction: row;
    }
    .event_row{
      flex-wrap: wrap;
      flex-direction: row;
     
    }
  
    .events .card{
      box-shadow: none;
    }

    .event_column{
      flex: 100%;
      max-width: 100%;
    }
    .double-column{
      flex: 100%;
      max-width: 100%;
    }
    
  }