.merch-container{
    padding: 1rem 0;
   display: flex;
   justify-content:center;
   align-items: center;
   flex-direction: column;
}

.merch-container h1{
    color: white;
    border-bottom: 2px solid white;
    border-radius: 12px;
    text-align: center;
    font-weight: 600;
    font-size: 2.5rem !important ;
    letter-spacing: 1.2px;
    width: 100%;
   padding-bottom: 1rem;
}

.relative{
    position: relative;
}

.limited-time {
    position: absolute;
    width: 80px !important;
    top: -15px;
    left: 0;
}

.merch-card-container{
 
     width: 90%;
    display: flex;
    justify-content: space-between;
    /* flex-direction: row; */
    margin-top: 2rem !important;
}

.merch-card-container_contents{
    min-height: 200px;
 
    padding: 0 2rem;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

    /* white-space: nowrap; */
}

.merch-card-container_contents p:nth-of-type(1){
    color: white;
    font-weight: 400;
    font-size: clamp(1rem, 3vw,3rem);
    line-height: 1.5;
}

.merch-card-container_contents p:nth-of-type(2) {
    font-size: clamp(0.8rem, 2.5vw, 1.5rem);
}

.bold {
    font-weight: 900;
}

.merch-card-container_contents p:nth-of-type(3){
    color: rgb(232, 232, 39);
    font-size: clamp(1rem, 2.5vw, 1.8rem);
}

.merch-card-container_contents p {
    color: white;
    line-height: 1.5;
}

.merch-card-container_contents a {
    text-decoration: none;
    color: white;
    background-color: #03BFCB;
    width: fit-content;
    padding: 0.8rem 1.2rem;
    border-radius: 10px;
    margin-bottom: 0.6rem;
}

.merch-card-container img {
    width: clamp(100px,100%,500px);
}

.strike {
    text-decoration: line-through;
}

.offer {
    position: relative;
    color: white;
    font-size: 1rem;
    background-color: #d46700;
    padding: 1px 5px;
    border-radius: 5px;
    bottom: 5px;
}

@media screen and (max-width: 780px){
    .merch-card-container{
        flex-direction: column-reverse;
    }

    .offer {
        font-size: 0.8rem;
        position: static;
    }
}