

.nav{
 
  padding: 2.5rem 0.5rem;
  
   z-index: 2;

   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;

   gap: 0.7rem;

   border-radius: 50px;
   background-color: rgba(0, 0, 0, 0.8);

    background: var(--nav-color);
    box-shadow: 0px 4px 11px 6px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);

}



.pop{
  
    display: none;
    position: absolute;
    color:white;
    background: #213653;
    box-shadow: 0px 4px 11px 6px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
    padding:8px;
    border-radius: 5px;
    /* left:50px; */
    transition: all ease-out 1000ms;
    transition-delay: 300ms;
    font-family: 'Alef'; 
    font-style: normal;
}

.item{

  
   height: 50px;
   cursor: pointer;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   position: relative;
}
/* .item a img{
 height: 25px;
 width: 30px;
} */

.item a {
  font-size: 1.5rem;
  text-decoration: none;
}

.item i{
 color: white;


 display: flex;
 align-items: center;
}

.item svg{
    height:23px;
    opacity: 1;
    transition: all ease-out 200ms;
}

.home-button {
 text-decoration: none;
}

.home-button i{
 font-size: 30px;
 border-radius: none;
 /* color: #213653; */
 color: white;
}

.item:hover svg{
   opacity: 1;
}

.item:hover .pop{
   display: flex;
   transform: translateX(60px);

   
}
.nav-button .item{
   /* border: 2px solid black; */
   position: absolute;
   left: 0.4rem;
}

.hidenav a img{
 /* color:#393F62; */
 margin-top:10px;
 height: 2.5rem;
 width: 1.5rem;
}

#arbazbtn{
 transition: all 0.5s ease;
}





#nav-container {
  height: fit-content;
  position: fixed;

  width: 100%;
  pointer-events: none;
  z-index:2;
}
#nav-container .bg {

  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  height: calc(100% - 70px);
  visibility: hidden;
  opacity: 0;
  transition: .3s;
  background: transparent;
}
#nav-container:focus-within .bg {
  visibility: visible;
  opacity: .6;
}
#nav-container * {
  
  visibility: visible;
}
 #cir{
    position: fixed;
    
    height: 40px;
    width: 40px;
    margin-left: 10px;
    background-color:#3d4463;
    display: none;
    border-radius: 50%;
    margin-top: 10px;
 }
  .button {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    -webkit-appearance: none;
    appearance: none;
    border: 0;
    background: transparent;
    border-radius: 0;
    height: 62px;
    width: 30px;
    cursor: pointer;
    pointer-events: auto;
    margin-left: 19px;
    touch-action: manipulation;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    /* border: 2px solid black; */
  }
  .icon-bar {
    display: block;
    width: 80%;
    height: 2px;
    background:white;
    transition: .3s;
  }
  .icon-bar + .icon-bar {
    margin-top: 5px;
  }
  
  #nav-container:focus-within .button {
    pointer-events: none;
  }
  #nav-container:focus-within .icon-bar:nth-of-type(1) {
    /* transform: translate3d(0,8px,0) rotate(45deg); */
    display: none;
  }
  #nav-container:focus-within .icon-bar:nth-of-type(2) {
    display: none;
  }
  #nav-container:focus-within .icon-bar:nth-of-type(3) {
    /* transform: translate3d(0,-8px,0) rotate(-45deg); */
    display: none;
  }
  
  #nav-content {
    
    border-radius: 0 20px 20px 0;
    border-right:5px solid  #b9b1e4;
    height:100vh;
    
    width: 90%;
    max-width: 300px;
    position: absolute;
    top: 0;
    left: 0;
    text-decoration: none;
    
    background: #4A4963;
    pointer-events: auto;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    transform: translateX(-100%);
    transition: transform .3s;
    will-change: transform;
    contain: paint;
  }
  #nav-container #nav-content h2{
    text-align:center;
    width:100%;
    padding: 1.5rem 0;
    border-bottom:4px solid #39384e; 
    border-radius: 0 20px 20px 0;
     
     color: white;
  }
  
  #nav-content ul {
    margin-top: 2rem;

   height: 100%;
   display: flex;
   list-style-type: none;
   flex-direction: column;
   font-size: 20px;

   gap: 1.5rem;
 }
 
 #nav-content li a {

   /* padding:  32px 0; */
   display: block;
   text-decoration: none;
   color: white;
   font-size:20px;
   transition: color .1s;
   display:flex;
   align-items:center;
   justify-content:flex-start;
 }
 #nav-content li a svg {
   /* border:2px solid pink; */
   width:25px;
   margin-right:1rem;
   margin-left:1.5rem;
   fill: white;
 }

 #nav-content li a i {
    margin-right:1rem;
    margin-left:1.5rem;
    font-size: 25px;
 }
 
 #nav-content li a:hover {
   color: rgb(136, 204, 250);
 }
 
 /* #nav-content li:not(.small) + .small {
   margin-top: auto;
 } */
 #nav-container:focus-within #nav-content {
   transform: none;
 }
 #nav-container{
   display: none;
 }
 .hidearbnav {
   opacity: 0;
   display: none;
   transition: all 0.5s ease ;
  
 }
 .showarb {
   opacity: 1;
   display: block;
   transition: all 0.5s ease ;
 }
 
 @media only screen and (max-width: 600px)  {
   #nav-container{
     display: block;
   }
   #cir{
       display: block;
   }
 }