:root {
    --primary-color:#e50914;
    --dark-color:#141414;
    --natural-color:rgb(0, 0, 0);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-attachment: fixed;
}
body{
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: rgb(9, 12, 43);
    overscroll-behavior-y: none;

}

.left{position:relative;animation:animateleft 1.5s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.right{position:relative;animation:animateright 1.5s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    -webkit-font-smoothing: antialiased;
    /* background: transparent; */
    /* background-image: url("../img/city.jpg"); */
    background-size: cover;
    margin: 0px;
}
body::-webkit-scrollbar{
    display: none;
}

.topnav {
    background-color: rgba(0, 0, 0, 0.671);
    overflow: hidden;
    z-index: 20;
    position: absolute;
    width: 100vw;
    /* height: 7vh; */
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    width: 20vw;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin: 0;
    font-size: 0.7em;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
      color: #14dcff;
    font-weight: 600;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }
  @media screen and (max-width: 900px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a {width: 84vw; text-align: left;}
    .topnav a.icon {
      float: right;
      display: block;
      width: 15vw;
      right: 0;
      top: 0;
      text-align: center !important;
      /* height: auto; */
    }
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 900px) {
    .topnav.responsive {position: absolute;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

.showcase {
    width: 100vw;
    height: auto;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: relative;
    /* background-size: cover; */
    background-blend-mode: hue;
}
.showcase .imagesres{
    display: none;
}
.showcase .images .img1{
    /* height: 20%; */
    width: 20vw;
    position: relative;
    align-self: center;
    z-index: 2;
    margin-top: 2vh;
    margin-left: 5vw;
    /* margin-right: 5vw; */
}
.showcase .images .img2{
    /* height: 30%; */
    width: 25vw;
    padding-top: 0vh;
    position: relative;
    align-self: center;
    margin-left: 5vw;
    margin-right: 5vw;
    z-index: 2;
    margin-top: 2vh;
}
.showcase .images .img3{
    /* height: 20%; */
    width: 20%;
    position: relative;
    align-self: center;
    z-index: 2;
    margin-top: 2vh;
    /* margin-left: 5vw; */
    margin-right: 5vw;
}

.speakers{
    background-color: rgb(9, 12, 43);
    height: auto;
    min-width: 100vw;
    /* margin-left: vw; */
}
.speakers h1{
    color: aliceblue;
    padding-left: 10vh;
    margin-top: 5vh;
    font-size: 1.5em;
    font-weight: 600;
    background-color: #00d9ffcb;
    width: 45vw;
    padding-bottom: 1vh;
    padding-top: 0.5vh;
    margin-bottom: 5vh;
    margin-left: -2vh;
}

.list{
    margin-left: 40vw;
    margin-right: 40vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(70%, 1fr));
    grid-template-rows: auto;
    grid-gap: 0 5%;
}
.list2{
    margin-left: 22.5vw;
    margin-right: 22.5vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25vw, 1fr));
    grid-template-rows: auto;
    grid-gap: 0 5%;
}
.card
  {
    position: relative;
    width: 20vw;
    height: 10vw;
    background: #fff;
    box-shadow: 0 20px 50px rgba(0,0,0,.1);
    border-radius: 10px;
    transition: 0.5s;
    /* margin-bottom: 5vh; */
  }
  .card:hover
  {
    box-shadow: 0 12px 30px rgba(247, 247, 247, 0.658);
  }
  .card .box1
  {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    text-align: center;
    /* padding: 20px; */
    width: 100%;
    box-sizing: border-box;
  }
  .card .box1 .img
  {
    /* width: 120px; */
    /* height: 120px; */
    width: 18vw;
    margin: 0 auto;
    /* border-radius: 50%; */
    overflow: hidden;
  }
  .card .box1 .img img
  {
    width: 100%;
  }
  .card .box1 h2
  {
    font-size: 20px;
    color: #262626;
  }
  .spimg{
    width: 9vw !important;
  }
.footer{
    margin-top: 5vh;
    background-color: rgb(0, 0, 0);
    height: auto;
    min-width: 100vw;
    color: #f1f1f1;
}

.footer h1{
    padding-right: 10vh;
    margin-top: 5vh;
    margin-left: -2vw;
    font-size: 1em;
    font-weight: 600;
    /* float: right; */
    color: black;
    width: 28vw;
    padding-left: 2vw;
    background-color: #f1f1f1;
    /* margin-bottom: 15vh; */
    padding-bottom: 1vh;
    padding-top: 0.5vh;
}
.footer p{
    margin-left: 5vh;
    margin-right: 2vh;
    text-align: justify;
    /* margin-top: 4vh; */
    font-size: 0.5em;
    font-weight: 700;
}
.fr{
    text-align: center !important;
    /* width: 50vh; */
}
@media screen and (max-width: 900px) {
    .showcase {
        padding-top: 6vh;
        width: 100vw;
        height: auto;
    }
    .showcase .images{
        display: none;
    }
    .showcase .imagesres{
        padding-top: 5vh;
        display: block;
    }
    .showcase .imagesres .img1{
        /* height: 20%; */
        width: 40vw;
        position: relative;
        align-self: center;
        z-index: 2;
        margin-top: 0vh;
        margin-left: 5vw;
        /* margin-right: 5vw; */
    }
    .showcase .imagesres .img2{
        /* height: 30%; */
        width: 90vw;
        padding-top: -5vh;
        position: relative;
        align-self: center;
        margin-left: 5vw;
        margin-right: 5vw;
        z-index: 2;
        margin-top: 0vh;
    }
    .showcase .imagesres .img3{
        /* height: 20%; */
        width: 40vw;
        position: relative;
        align-self: center;
        z-index: 2;
        margin-top: 0vh;
        /* margin-left: 5vw; */
        margin-right: 5vw;
    }
    .speakers{
        background-color: rgb(9, 12, 43);
        height: auto;
        min-width: 100vw;
        /* margin-left: vw; */
    }
    .speakers h1{
        color: aliceblue;
        padding-left: 2vh;
        margin-top: 5vh;
        font-size: 1em;
        font-weight: 600;
        background-color: #00d9ffcb;
        width: 100vw;
        padding-bottom: 1vh;
        padding-top: 0.5vh;
        margin-bottom: 5vh;
        margin-left: -2vh;
    }
    
    .list{
        margin-left: 18vw;
        margin-right: 20vw;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(70%, 1fr));
        grid-template-rows: auto;
        grid-gap: 0 5%;
    }
    .list2{
        margin-left: 18vw;
        margin-right: 22.5vw;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(25vw, 1fr));
        grid-template-rows: auto;
        grid-gap: 5vw 5%;
    }
    .card
      {
        position: relative;
        width: 60vw;
        height: 30vw;
        background: #fff;
        box-shadow: 0 20px 50px rgba(0,0,0,.1);
        border-radius: 10px;
        transition: 0.5s;
        /* margin-bottom: 5vh; */
      }
      .card:hover
      {
        box-shadow: 0 12px 30px rgba(247, 247, 247, 0.658);
      }
      .card .box1
      {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        text-align: center;
        /* padding: 20px; */
        width: 100%;
        box-sizing: border-box;
      }
      .card .box1 .img
      {
        /* width: 120px; */
        /* height: 120px; */
        width: 50vw;
        margin: 0 auto;
        /* border-radius: 50%; */
        overflow: hidden;
      }
      .card .box1 .img img
      {
        width: 100%;
      }
      .card .box1 h2
      {
        font-size: 20px;
        color: #262626;
      }
      .spimg{
        width: 27vw !important;
      }
    
      .footer{
        background-color: rgb(0, 0, 0);
        height: auto;
        min-width: 100vw;
        color: #f1f1f1;
        margin-left: -4vw;
    }
    
    .footer h1{
        padding-right: 0vh;
        margin-top: 5vh;
        font-size: 0.8em;
        font-weight: 600;
        /* float: right; */
        color: black;
        width: 60vw;
        padding-left: 10vw;
        background-color: #f1f1f1;
        /* margin-bottom: 15vh; */
        padding-bottom: 1vh;
        padding-top: 0.5vh;
    }
    .footer p{
        margin-left: 5vh;
        margin-right: 2vh;
        /* margin-top: 4vh; */
        font-size: 0.5em;
        font-weight: 700;
    }
    .fr{
        text-align: center !important;
    }
    .fl{
        text-align: center !important;
    }
}