*{
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Source+Code+Pro&display=swap');

@font-face {
    font-family: CrackedCode;
    src: url('../font/CrackedCode.ttf');
}

@font-face {
    font-family: pdark;
    src: url('../font/pdark.ttf');
}

@font-face {
    font-family: circuitboard;
    src: url('../font/Circuitboard-pnEy.ttf');
}

body {
    background-color: black;
    font-size: 16px;
    font-family: 'Source Code Pro', monospace;
    height: 100%;
    overflow: hidden;
}

body::-webkit-scrollbar {
    display: none;
}



/* Navbar Start */
.navbar{
    background-color: rgba(0, 0, 0, 0.5);
}
.nav-text{
    color: #ffffff;
    font-weight: bold;
}

@media screen and (max-width: 600px){
    .navbar{
        display: none;
    }
}

/* Heading start */

.heading{
    width: 50vw;
    color: white;
    font-weight: bold;
    position: absolute;
    z-index: 3;
    text-align: center;
    height: 15vh;
    display: flex;
    justify-content: center;
}

.heading h2{
    position: absolute;
    font-weight:bold;
    font-size: 6em;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    z-index: 4;
}

.heading p{
    margin-top: -3.5vh;
    position: absolute;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.03em;
    color: transparent;
	font-size: 8em;
	-webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

/* Background Image start */

.bg-image {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
}

@media screen and (max-width: 600px){
    .bg-image{
        height: 60vh;
        width: 300vw;
    }
}

/* Home Start */

.home{
    height: 100vh;
    z-index: -2;
}
  
.home-text {
    width: 100vw;
    height: 100vh;
    color: white;
    font-weight: bold;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
    justify-content: center;
    overflow: hidden;
  }

.home-col-left{
    padding-top: 30vh;
    margin-left: -5vw;
}
.home-col-right{
    margin-top: 30vh;
}
.home-text h1{
    font-size: 5.5em;
    font-family: CrackedCode;
    overflow: hidden;
}

.home-text h2{
    font-family: circuitboard;
    font-size: 4em;
}

.home-text h3{
    font-family: pdark;
    font-size: 2em;
}
.home-img{
    width:100%;
}
.logo-img{
    display: none;
}

@media screen and (max-width: 600px){
    .home{
        justify-content: center;
    }
    .home-text h1{
        font-size: 10vw;
    }
    .home-text{
        top:20%;
        justify-content: center;
        overflow: visible;
    }
    .home-col-left{
        margin-top: 1vh;
        /* padding-left: 6vw; */
        margin-left: 0;
    }
    .home-col-right{
        margin-top: 4vh;
        padding-right: 0%;
        overflow: visible;
    }
    .logo-img{
        width: 40%;
        display: inline;
    }
    .home-img{
        width:70%;
    }
}

/* About Start */

.about{
    background-color: black;
    height: 100vh;
    width: 100vw;
    z-index: -2;
}

.about-text{
    width: 100%;
    color: white;
    font-weight: bold;
    position: absolute;
    top: 112%;
    left: 1%;
    z-index: 3;
    text-align: center;
    /* border: 3px solid red; */
}

.about-p p{
    font-size: 1.2em;
}

/* Ideathon start */

.ideathon{
    /* background-color:yellow; */
    height: 100vh;
    width: 100%;
    z-index: -2;
}

.ideathon-text{
    width: 100vw;
    color: white;
    font-weight: bold;
    position: absolute;
    top: 212%;
    left: 1%;
    z-index: 3;
    text-align: center;   
}

.details{
    font-family: Oxygen;
}

.details .box{
    position: relative;
    height: 63vh;
    width: 22%;
    background: #060c21;
    display: flex;
    justify-content: justify;
    align-items: center;
    margin-left: 2vw;
}
.details .box::before{
    content: '';
    position: absolute;
    top: -2.5px;
    left: -2.5px;
    right: -2.5px;
    bottom: -2.5px;
    background: #fff;
    transform: skew(2deg,2deg);
    z-index: -1;            
}
.details .box:nth-child(1)::before{
    background: linear-gradient(315deg,#ff0057,#e64a19);
}
.details .box:nth-child(4)::before{
    background: linear-gradient(315deg,#89ff00,#00bcd4);
}
.details .box:nth-child(3)::before{
    background: linear-gradient(315deg,#5d02ff,#ffc107);
}
.details .box:nth-child(2)::before{
    background: linear-gradient(315deg,#e64a19,#89ff00);
}
.details .box::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255,255,255,0.05);
    pointer-events: none;
}
.con{
    position: relative;
    padding: 20px;
    transform: translateY(40px);
}
.box .con h2{
    position: absolute;
    top: -10px;
    right: 20px;
    margin: 0;
    margin: 0;
    padding: 0;
    font-size: 6em;
    font-weight: bold;
    color: rgba(255,255,255,0.05);
    transition: 0.5s;

}
.box:hover .con h2{
    top: -90px;
}
.box .con h3{
    margin: 0 0 10px;
    padding: 0;
    font-size: 2em;
    font-weight: bold;
    color: #fff;

}
.box .con p{
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 18px;
    text-align: center;
}
.box .con a{
    position: relative;
    margin: 20px 0 0;
    padding: 10px 20px;
    text-decoration: none;
    font-size: medium;
    border: 1px solid #fff;
    display: inline-block;
    color: #fff;
    transition: 0.5s;
    transform: translateY(-40px);
    opacity: 0;
    visibility: hidden;
}
.box:hover .con a{
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}
.box .con a:hover{
    color: #000;
    background: #fff;
}

/* Judges start */

.judges{
    background-color: rgb(59, 117, 0);
    height: 100vh;
    width: 100%;
    z-index: -2;
}

.judges-text{
    width: 100%;
    color: white;
    font-weight: bold;
    position: absolute;
    top: 312%;
    left: 1%;
    z-index: 3;
    text-align: center;
    /* border: 3px solid red; */
}

.judge-img{
    position: relative;
    display: flex;
    width: 20vw;
    height: 21vw;
    justify-self: center;
    justify-content: justify;
    align-items: center;
    z-index: 6;
    
}

.judge-border{
    border: 3px solid black;
    width: 20vw;
    height: 21vw;
    top: -22vw;
    left: 1vw;
    position: relative;
}

.judges-p h1{
    font-size: 2em;
    font-weight: bold;
    top: -20vw;
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.judges-p p{
    font-size: 1.2em;
    top: -20vw;
    position: relative;
}

/* Timeline start */

.timeline{
    background-color:chocolate;
    height: 100vh;
    width: 100%;
    z-index: -2;
}

.timeline-text{
    width: 100%;
    color: white;
    font-weight: bold;
    position: absolute;
    top: 412%;
    left: 1%;
    z-index: 3;
    text-align: center;
    /* padding-top: 20vh; */
    /* border: 3px solid red; */
}

.scroll {
    /* background-color: #e64a19; */
    width: 98vw;
    height: 65vh;
    overflow: auto;
    text-align: justify;
    padding: 20px;
}
.scroll::-webkit-scrollbar {
    display: none;
}

/* The actual timeline (the vertical ruler) */
.timeline-div {
    position: relative;
    width: 94vw;
    /* margin-top: 20vh; */
    /* border: 3px solid red;  */
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline-div::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  /* Container around content */
  .container-div {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  /* The circles on the timeline */
  .container-div::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  /* Place the container to the left */
  .left {
    left: 0;
  }
  
  /* Place the container to the right */
  .right {
    left: 50%;
  }
  
  /* Add arrows to the left container (pointing right) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }
  
  /* Add arrows to the right container (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  
  /* Fix the circle for containers on the right side */
  .right::after {
    left: -16px;
  }
  
  /* The actual content */
  .content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
    color: black;
  }
  
  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 600px) {
  /* Place the timelime to the left */
    .timeline-div::after {
      left: 31px;
    }
  
  /* Full-width containers */
    .container-div {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
    }
  
  /* Make sure that all arrows are pointing leftwards */
    .container-div::before {
      left: 60px;
      border: medium solid white;
      border-width: 10px 10px 10px 0;
      border-color: transparent white transparent transparent;
    }
  
  /* Make sure all circles are at the same spot */
    .left::after, .right::after {
      left: 15px;
    }
  
  /* Make all right containers behave like the left ones */
    .right {
      left: 0%;
    }
  }

/* Register start */

.register{
    /* background-color:rgb(0, 90, 53); */
    height: 100vh;
    width: 100%;
    z-index: -2;
}

.register-text{
    width: 100%;
    color: white;
    font-weight: bold;
    position: absolute;
    top: 512%;
    left: 1%;
    z-index: 3;
    text-align: center;
    /* border: 3px solid red; */
}

.rules{
    padding-left: 10vw;
    margin-top: 5vh;
    font-size: 1.5em;
}

.rules li{
    padding-top: 5vh;
    text-align: justify;
}

.form{
    top: 5vh;
    right: 10vw;
    padding-left: 10vw;
    justify-self: right;
    position: absolute;
    height: 77vh;
    width: 50vw;
    overflow: hidden;
}

/* Contact start */

.faqs{
    background-color:maroon;
    min-height: 100vh;
    /* height: ; */
    width: 100%;
    z-index: -2;
}

.faqs-text{
    width: 100%;
    color: white;
    font-weight: bold;
    position: absolute;
    top: 612%;
    left: 1%;
    z-index: 3;
    text-align: center;
    /* border: 3px solid red; */
}

.QandA{
    font-size: 1.2em;
    /* padding: 0.5em; */
    /* border: 3px solid red; */
    border-radius: 1em;
    background-color: bisque;
    margin-top: 0.8em;
}

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.question{
    font-family: 'Source Code Pro', monospace;
    font-size: 1.0em;
    /* background-color: #eee; */
    color: #444;
    cursor: pointer;
    padding: 1em;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    z-index: 10;
}

.ac, .question:hover {
    background-color: white;
    border-radius: 1em;
}

.answer{
    font-family: 'Pacifico', cursive;
    color: purple;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    background-color: bisque;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    display: none;
    overflow: hidden;
    z-index: 5;
}