*{
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400&display=swap');

body {
    font-size: 16px;
    font-family: 'Oxygen', sans-serif;
    height: 100%;
}

body::-webkit-scrollbar {
    display: none;
  }

/* Navbar Start */

.nav-text{
    color: #ffffff;
}

@media screen and (max-width: 600px){
    .navbar{
        display: none;
    }
}

/* Heading start */

.heading{
    width: 50vw;
    color: white;
    font-weight: bold;
    position: absolute;
    z-index: 3;
    text-align: center;
    height: 15vh;
    display: flex;
    justify-content: center;
}

.heading h2{
    position: absolute;
    font-weight:bold;
    font-size: 6em;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    z-index: 4;
}

.heading p{
    margin-top: -5vh;
    position: absolute;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.03em;
    color: transparent;
	font-size: 8em;
	-webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

/* Background Image start */

.bg-image {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
}

@media screen and (max-width: 600px){
    .bg-image{
        height: 60vh;
        width: 300vw;
    }
}

/* Home Start */

.home{
    height: 100vh;
    background-color: cornsilk;
    z-index: 4;
}
  
.home-text {
    color: white;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
  }

.home-text h1{
    font-size: 6em;
}

@media screen and (max-width: 600px){
    .home-text h1{
        font-size: 20vw;
    }
}

/* About Start */

.about{
    background-color: black;
    height: 100vh;
    width: 100vw;
    z-index: -2;
}

.about-text{
    width: 100vw;
    color: white;
    font-weight: bold;
    position: absolute;
    top: 112%;
    left: 1%;
    z-index: 3;
    text-align: center;   
}

/* Ideathon start */

.ideathon{
    background-color:yellow;
    height: 100vh;
    width: 100%;
    z-index: -2;
}

.ideathon-text{
    width: 100vw;
    color: white;
    font-weight: bold;
    position: absolute;
    top: 212%;
    left: 1%;
    z-index: 3;
    text-align: center;   
}

/* Judges start */

.judges{
    background-color: chartreuse;
    height: 100vh;
    width: 100%;
    z-index: -2;
}

/* Schedule start */

.schedule{
    background-color:chocolate;
    height: 100vh;
    width: 100%;
    z-index: -2;
}

/* Register start */

.register{
    background-color:greenyellow;
    height: 100vh;
    width: 100%;
    z-index: -2;
}

/* Contact start */

.contact{
    background-color:maroon;
    height: 100vh;
    width: 100%;
    z-index: -2;
}