:root {
    --primary-color:#e50914;
    --dark-color:#141414;
    --natural-color:rgb(0, 0, 0);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-attachment: fixed;
}
body{
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: rgb(9, 12, 43);
    overscroll-behavior-y: none;

}

.left{position:relative;animation:animateleft 1.5s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.right{position:relative;animation:animateright 1.5s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    -webkit-font-smoothing: antialiased;
    /* background: transparent; */
    /* background-image: url("../img/city.jpg"); */
    background-size: cover;
    margin: 0;
}
body::-webkit-scrollbar{
    display: none;
}
/* nav{
    z-index: 20;
    margin: 0;
    position: relative;
    height: 6vh;
}
.nav-item{
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    background-color: #14dcff;
}
.navbar-toggler{
    float: right;
    border:  none;
    height: 4vh;
    width: 7vh;
    align-self: right;
    /* margin-left: 55vw; */
    /* padding: 0; */
    /* color: white I !important; */
    /* background-color: white !important; */
/* Add a black background color to the top navigation */
.topnav {
    background-color: rgba(0, 0, 0, 0.671);
    overflow: hidden;
    z-index: 20;
    position: absolute;
    width: 100vw;
    /* height: 7vh; */
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    width: 20vw;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin: 0;
    font-size: 0.7em;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
      color: #14dcff;
    font-weight: 600;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }
  @media screen and (max-width: 900px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a {width: 84vw; text-align: left;}
    .topnav a.icon {
      float: right;
      display: block;
      width: 15vw;
      right: 0;
      top: 0;
      text-align: center !important;
      /* height: auto; */
    }
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 900px) {
    .topnav.responsive {position: absolute;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
.showcase {
    /* top: -7vh; */
    width: 100vw;
    height: 100vh;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: relative;
    /* background: url('../vid/200129_01_Plexus_human_body_white_on_blue.mp4');
    background-repeat: repeat; */
    background-size: cover;
    background-blend-mode: hue;
}
#myVideo {
    position: absolute;
    /* top: 0;
    left: 0; */
    right: 0;
    bottom: 0;
    width: 100vw;
    /* min-height: 100vh; */
  }
.showcase::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background: rgba(0, 0, 0, 0.7);
    /* box-shadow: inset 60px 50px 100px #000000, inset -60px -50px 100px #000000; */
}
.showcase .imagesres{
    display: none;
}
.showcase .images .img1{
    /* height: 20%; */
    width: 20vw;
    position: relative;
    align-self: center;
    z-index: 2;
    margin-top: 2vh;
    margin-left: 5vw;
    /* margin-right: 5vw; */
}
.showcase .images .img2{
    /* height: 30%; */
    width: 25vw;
    padding-top: 0vh;
    position: relative;
    align-self: center;
    margin-left: 5vw;
    margin-right: 5vw;
    z-index: 2;
    margin-top: 2vh;
}
.showcase .images .img3{
    /* height: 20%; */
    width: 20%;
    position: relative;
    align-self: center;
    z-index: 2;
    margin-top: 2vh;
    /* margin-left: 5vw; */
    margin-right: 5vw;
}
.showcase-top {
    width: 100%;
    margin-top: 0vh;
    /* background-color: rgb(0, 25, 54); */
    background: transparent;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-content: center;
    z-index: 2;
    position: absolute;
}
.showcase-hidden {
    color: white;
    display: none;
}


.showcase-top h1 {
    white-space: nowrap;
    width: 100%;
    position: absolute;
    color: white;
    font-weight: 400;
    font-size: 2.2vw;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    z-index: 2;
    margin-top: -7vh;
    margin-bottom: 1vh;
}

.showcase-top h2, .showcase-top h3 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 0vh;
    width: 100%;
    white-space: nowrap;
    position: absolute;
    /* color: rgb(0, 89, 255); */
    /* background: linear-gradient(to right,#f00,#f00,#0f0,#0f0,#00f,#00f); */
    background: linear-gradient(to left,#ffff66,#fc6e22,#c246f6,#e50914);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #14dcff;
    font-weight: 600;
    font-size: 10vh;
    z-index: 2;
}
.showcase-top h3{
    /* width: 60%; */
    /* margin-left: 19%; */
    /* background: linear-gradient(to left,#ffff66,#fc6e22,#c246f6,#e50914); */
    /* background-clip: text; */
    /* -webkit-background-clip: text; */
    /* -webkit-text-fill-color: transparent; */
    margin-top: 13vh;
    /* font-size: 2.5em; */
}
/* .showcase-top a:hover{
    padding-left: 35vw;
    color: rgb(0, 25, 54);
    background: chartreuse;
    box-shadow: 0 0 10px chartreuse,0 0 10px chartreuse,0 0 10px chartreuse,0 0 10px chartreuse;
    z-index: 30;

} */
.showcase-bar {
    max-width: 100%;
    height:fit-content;
    z-index: 2;
    position: fixed;
    /* background-color: black; */
    /* border-bottom : 3px solid #3d3d3d; */
}
/* .showcase-bar a img {
    top: 9%;
    position: relative;
    padding: 0.5%;
} */
.showcase-top p {
    margin-top: 28vh;
    color: yellow;
    word-wrap: break-word;
    position: relative;
    /* font-weight: 350; */
    /* width: 100%; */
}
.reg{
    bottom: -7vh;
    font-weight: 1.5em;
    /* color: #e50914; */
}
.showcase-top h6 {
    white-space: nowrap;
    width: 100%;
    position: absolute;
    color: red;
    font-weight: 800;
    font-size: 2.2vw;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    z-index: 2;
    margin-top: -7vh;
    margin-bottom: 1vh;
}
.showcase-top a {
    color: chartreuse;
    text-decoration: none;
}
.showcase-top a:hover {
    color: rgba(65, 129, 0, 0.603);
    font-weight: 900;
    text-decoration: none;
}
.showcase-top p:hover {
    color: yellow;
}
.btn {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    outline: none;
    border-radius: 0px;
    cursor: auto;
    background: 0%;
    border-top: 0.5vh solid;
    font-size: 1em;
    padding-top: 0.5rem;
}
.btn-xl {
    /* width: 30vw; */
    /* padding-top: 2%; */
    white-space: nowrap;
    margin-bottom: 2vh;
}


/* clock countdown css */
.time li {
    display: inline-block;
    font-size: 0.8em;
    list-style-type: none;
    padding: 2vh;
    color: white;
    height: 18vh;
    /* width: 10vw; */
    text-transform: uppercase;
}
  
.time li span {
    display: block;
    font-size: 5h;
}
.time {
    color: #333;
    position: absolute;
    width: 100%;
    margin-top: 45vh;
    margin-bottom: 10%;
    align-content: center;
    text-align: center;
    z-index: 2;
  }

  * {box-sizing:border-box}
.content{
    min-width: 50vw;
    height: 100vh;
    background-color:rgb(9, 12, 43);
    padding: 0 !important;
    margin: 0 !important;
    overflow: hidden !important;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  /* display: none; */
  overflow: hidden;
}
/* .mySlides::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    min-width: 50vw;
    height: 100vh;
    z-index: 1;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: inset 60px 50px 100px #000000, inset -60px -50px 100px #000000;
} */
.mySlides img{
    min-width: 100vw;
    max-height: 100vh;
    margin-left: -67vh;
  }

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3.5s;
  animation-name: fade;
  animation-duration: 3.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.about-us{
    color: seashell;
    background-color: rgb(9, 12, 43);
}

.about-us h1{
    padding-left: 10vh;
    margin-top: 5vh;
    font-size: 1.5em;
    font-weight: 600;
    background-color: #00d9ffcb;
    width: 23vw;
    padding-bottom: 1vh;
    padding-top: 0.5vh;
}
.about-us p{
    margin-left: 10vh;
    margin-right: 5vh;
    text-align: justify;
    margin-top: 4vh;
    font-size: 0.8em;
}

.conclave{
    color: seashell;
    background-color: rgb(9, 12, 43);
}

.conclave h1{
    padding-right: 10vh;
    margin-top: 5vh;
    font-size: 1.5em;
    font-weight: 600;
    /* float: right; */
    width: 28vw;
    padding-left: 2vw;
    background-color: #00d9ffcb;
    /* margin-bottom: 15vh; */
    padding-bottom: 1vh;
    padding-top: 0.5vh;
}
.conclave p{
    margin-left: 5vh;
    margin-right: 10vh;
    text-align: justify;
    margin-top: 4vh;
    font-size: 0.8em;
}

.glance{
    /* position : relative; */
    /* margin-top : 1%; */
    /* width: 100%; */
    height: 40vh;
    min-width: 10vw;
    
    /* border-radius: 2rem; */
    background-color: rgb(9, 12, 43);
    z-index: 1;
    margin-bottom : 3%;
    color: aliceblue;
}
.glance a{
    /* color: rgb(255, 255, 255); */
    word-break: break-all;
    white-space: normal;
    font-weight: 600;
    font-size: 10vh;
    /* padding-top: 6vh; */
    margin-left: 5%;
    text-align: center;
}
.glance p1{
    /* color: black; */
    /* padding-top:s 5vh; */
    font-weight: 400;
    font-size: 2.5vw;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 20%;
    text-align: center;
    /* padding-top: 3%;
    padding-bottom : 3%; */
}
.glance p2{
    /* color: black; */
    margin-top : 3%;
    /* padding-top : 90vh; */
    font-weight: 350;
    font-size: 1.8vw;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.speakers{
    background-color: rgb(9, 12, 43);
    height: auto;
    min-width: 100vw;
    /* margin-left: vw; */
}
.speakers h1{
    color: aliceblue;
    padding-left: 10vh;
    margin-top: 5vh;
    font-size: 1.5em;
    font-weight: 600;
    background-color: #00d9ffcb;
    width: 45vw;
    padding-bottom: 1vh;
    padding-top: 0.5vh;
    margin-bottom: 5vh;
}
.keylist{
    margin-left: 15vw;
    margin-right: 10vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    grid-template-rows: auto;
    grid-gap: 0 3%;
}
.list{
    margin-left: 15vw;
    margin-right: 15vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
    grid-template-rows: auto;
    grid-gap: 0 5%;
}
.card
  {
    position: relative;
    width: 14.5vw;
    height: 17vw;
    background: #fff;
    box-shadow: 0 20px 50px rgba(0,0,0,.1);
    border-radius: 10px;
    transition: 0.5s;
    margin-bottom: 5vh;
  }
  .card:hover
  {
    box-shadow: 0 12px 30px rgba(247, 247, 247, 0.658);
  }
  .card .box1
  {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    text-align: center;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
  }
  .card .box1 .img
  {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
  }
  .card .box1 .img img
  {
    width: 100%;
  }
  .card .box1 h2
  {
    font-size: 20px;
    color: #262626;
  }
  .card .box1 h2 span
  {
    font-size: 14px;
    background: rgb(9, 12, 43);
    color: #fff;
    display: inline-block;
    padding: 4px 10px;
    border-radius: 15px;
  }
  /* .card .box1 ul
  {
    margin: 0;
    padding: 0;
    display: inline-block;
  }
  .card .box1 ul li
  {
    list-style: none;
    float: left;
  }
  .card .box1 ul li a
  {
    display: block;
    color: #aaa;
    margin: 0 10px;
    font-size: 20px;
    transition: 0.5s;
    text-align: center;
  }
  .card .box1 ul li:hover a
  {
    color: rgb(9, 12, 43);
    transform: rotateY(360deg);
  } */
.overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}
#text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}
.over {
    /* border: 5px dotted #bbb; */
    /* width: 80%; */
    border-radius: 15px; /* Rounded border */
    margin: 0 auto; /* Center the coupon */
    max-width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: rgb(0, 0, 0);
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  }
  
.speaker-overlay {
    /* padding: 2px 16px; */
    background-color: #f1f1f1;
    height: auto;
    /* width: 300px; */
}

.speaker-overlay p{
    font-size: 0.3em;
    text-align: justify;
}
.speaker-overlay img{
    padding-top: 25%;
}
.speaker-overlay h2{
    font-size: 0.5em;
}
.day1{
    color: seashell;
    background-color: rgb(9, 12, 43);
    height: auto !important;
}

/* .day1 h1{
    padding-left: 10vh;
    margin-top: 5vh;
    font-size: 1.5em;
    font-weight: 600;
    background-color: #00d9ffcb;
    width: 23vw;
    padding-bottom: 1vh;
    padding-top: 0.5vh;
} */
.schedule{
    width: 40vw;
    height: 9vw;
    background-color: #f1f1f1;
    border-radius: 0.5vw;
    margin-left: 6vw;
    color: #141414;
    margin-top: 3vh;
}
.v{
    height: 3vh;
}
.sectop{
    width: 40vw;
    height: 4.3vw;
    background-color: rgb(2, 175,212);
    border-radius: 0.5vw;
    /* margin-left: 6vw; */
    color: #141414;
    position: absolute;
}
.sectop2{
    width: 40vw;
    height: 4.3vw;
    background-color: rgb(9, 12, 43);
    border-radius: 0.5vw;
    /* margin-left: 6vw; */
    color: #141414;
    position: absolute;
}
.date{
    width: 18vw;
    height: 2.5vw;
    /* background-color: #0d97af; */
    margin-left: 21vw;
    margin-top: 1.2vw;
    position: absolute;
    color: #f1f1f1;
}
.date p{
    font-size: 0.7em;
    font-weight: 600;
    text-align: center;
}
.session{
    width: 20vw;
    /* height: 3vw; */
    /* background-color: #b5e509; */
    margin-left: 1vw;
    margin-top: 1vw;
    position: absolute;
    color: #f1f1f1;
}
.session p{
    font-size: 0.8em;
    font-weight: 600;
    text-align: center;
}
.desc{
    width: 38vw;
    /* height: 3vw; */
    /* background-color: #e509c0; */
    margin-left: 1vw;
    margin-top: 5vw;
    position: absolute;
}
.desc p{
    font-size: 0.35em;
    font-weight: 600;
    text-align: center;
}
.desc h6{
    font-size: 0.55em;
    font-weight: 700;
    text-align: center;
    color: rgb(9, 12, 43);
}
.regbutton{
    width: 12vw;
    /* height: 8vw; */
    /* background-color: #b5e509; */
    margin-left: 27vw;
    margin-top: 5.5vw;
    /* padding: 0%; */
    position: absolute;
}
.regbutton a{
    font-size: 0.6em;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    color: #e50914;
}
.day1 h2{
    padding-left: 10vh;
    margin-top: 5vh;
    font-size: 1.5em;
    font-weight: 600;
    background-color: #00d9ffcb;
    width: 22vw;
    padding-bottom: 1vh;
    padding-top: 0.5vh;
}
/* .day1 p{
    margin-left: 10vh;
    margin-right: 5vh;
    text-align: justify;
    margin-top: 4vh;
    font-size: 0.8em;
} */


.day2{
    color: seashell;
    background-color: #00d9ffcb;
    height: auto !important;
}

.day2 h2{
    padding-right: 10vh;
    margin-top: 5vh;
    font-size: 1.5em;
    font-weight: 600;
    /* float: right; */
    width: 20vw;
    padding-left: 2vw;
    background-color: rgb(9, 12, 43);
    /* margin-bottom: 15vh; */
    padding-bottom: 1vh;
    padding-top: 0.5vh;
}
/* .day2 p{
    margin-left: 5vh;
    margin-right: 10vh;
    text-align: justify;
    margin-top: 4vh;
    font-size: 0.8em;
} */
.but{
    height: 10vh;
    background-color: #00d9ffcb;
    width: 104vw;
    text-align: center;
    overflow: visible;
    padding-top: 2vh;
 }
.button {
    border-radius: 4px;
    background-color: red;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    padding: 1vh;
    width: auto;
    transition: all 0.5s;
    cursor: pointer;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
    color: white;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
.session-video{
    /* height: auto; */
}
.session-video h2{
    color: #f1f1f1;
    padding-left: 10vh;
    margin-top: 5vh;
    font-size: 1.5em;
    font-weight: 600;
    background-color: #00d9ffcb;
    width: 22vw;
    padding-bottom: 1vh;
    padding-top: 0.5vh;
    margin-bottom: 6vh;
}

.vidlist{
    margin-left: 5vw;
    margin-right: 5vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
    grid-template-rows: auto;
    grid-gap: 0 1%;
}
.vidcard{
    position: relative;
    width: 22vw;
    height: 17vw;
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 0 20px 50px rgba(0,0,0,.1);
    /* border-radius: 10px; */
    transition: 0.5s;
    margin-bottom: 5vh;
}
.vidcard:hover{
    box-shadow: 0 12px 30px rgba(247, 247, 247, 0.658);
}
.vidcard .box1{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    text-align: center;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}
.vidcard .box1 h4{
    font-size: 20px;
    font-weight: 600;
    color: #262626;
}
.vidcard .box1 h4 span{
    margin-top: 1vh;
    font-size: 14px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    display: inline-block;
    padding: 4px 10px;
    /* border-radius: 15px; */
}
.team{
    color: seashell;
    background-color: rgb(9, 12, 43);
}

.h{
    height: 50vh;
}

.team h1{
    padding-left: 10vh;
    margin-top: 5vh;
    font-size: 1.5em;
    font-weight: 600;
    background-color: #00d9ffcb;
    width: 23vw;
    padding-bottom: 1vh;
    padding-top: 0.5vh;
}
.team p{
    margin-left: 10vh;
    margin-right: 5vh;
    text-align: justify;
    margin-top: 4vh;
    font-size: 0.8em;
    padding-bottom: 3vh;
}

.team a{
    margin-left: 10vh;
    text-decoration: none;
    font-weight: 600;
}

.team a:hover{
    margin-left: 15vh;
    color: #14dcff;
    transform: scale(1.2);
    transition: 0.5s;
}

.teamimg img{
    min-width: 51vw;
    max-height: 50vh;
    margin-left: 0vh;
}

.sponsor{
    color: seashell;
    background-color: rgb(9, 12, 43);
}
.list2{
    margin-left: 5vw;
    margin-right: 5vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18vw, 1fr));
    grid-template-rows: auto;
    grid-gap: 0 5%;
}

.logo{
    position: relative;
    width: 20vw;
    height: 10vw;
    background: #fff;
    box-shadow: 0 20px 50px rgba(0,0,0,.1);
    border-radius: 10px;
    transition: 0.5s;
}
.logo-img{
    height: 1vw;
    width: 5vw;
}
.sponsor h1{
    padding-right: 10vh;
    margin-top: 5vh;
    font-size: 1.5em;
    font-weight: 600;
    /* float: right; */
    width: 23vw;
    padding-left: 2vw;
    background-color: #00d9ffcb;
    /* margin-bottom: 15vh; */
    padding-bottom: 1vh;
    padding-top: 0.5vh;
}
.sponsor p{
    margin-left: 5vh;
    margin-right: 10vh;
    text-align: justify;
    margin-top: 4vh;
    font-size: 0.8em;
    padding-bottom: 3vh;
}

.sponsor a{
    margin-left: 5vh;
    /* margin-top: 5vh; */
    text-decoration: none;
    font-weight: 600;
}

.sponsor a:hover{
    margin-left: 10vh;
    color: #14dcff;
    transform: scale(1.2);
    transition: 0.5s;
}

.faq{
    background-color: rgb(9, 12, 43);
    height: auto;
    min-width: 100vw; 
}

.faq h1{
    color: aliceblue;
    padding-left: 10vh;
    margin-top: 5vh;
    font-size: 1.5em;
    font-weight: 600;
    background-color: #00d9ffcb;
    width: 23vw;
    padding-bottom: 1vh;
    padding-top: 0.5vh;
    margin-bottom: 5vh;
}
.collapsible {
    background-color: transparent;
    color: white;
    cursor: pointer;
    padding: 18px;
    /* width: 100%; */
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    padding-left: 10vh;
  }
  
  .active, .collapsible:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .answer {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
    font-size: 0.6em;
    padding-left: 10vh;
    padding-right: 10vh;
  }
  .footer{
    background-color: rgb(0, 0, 0);
    height: auto;
    min-width: 100vw;
    color: #f1f1f1;
}

.footer h1{
    padding-right: 10vh;
    margin-top: 5vh;
    font-size: 1em;
    font-weight: 600;
    /* float: right; */
    color: black;
    width: 28vw;
    padding-left: 2vw;
    background-color: #f1f1f1;
    /* margin-bottom: 15vh; */
    padding-bottom: 1vh;
    padding-top: 0.5vh;
}
.footer p{
    margin-left: 5vh;
    margin-right: 2vh;
    text-align: justify;
    /* margin-top: 4vh; */
    font-size: 0.5em;
    font-weight: 700;
}

.fr{
    text-align: center !important;
    /* width: 50vh; */
    padding-bottom: 1vh;
}
.fr:hover{
    text-align: center !important;
    /* width: 50vh; */
    padding-bottom: 1vh;
    color: red;
}

@media screen and (max-width: 900px) {
    /* body{
        overflow: scroll;
    } */
    .showcase {
        padding-top: 4vh;
        background: url('../gif/1409.gif');
        background-repeat: repeat;
        background-size: cover;
        background-blend-mode: hue;
    }
    #myVideo {
        display: none;
    }
    .showcase .images{
        display: none;
    }
    .showcase .imagesres{
        padding-top: 5vh;
        display: block;
    }
    .showcase .imagesres .img1{
        /* height: 20%; */
        width: 40vw;
        position: relative;
        align-self: center;
        z-index: 2;
        margin-top: 0vh;
        margin-left: 5vw;
        /* margin-right: 5vw; */
    }
    .showcase .imagesres .img2{
        /* height: 30%; */
        width: 90vw;
        padding-top: -5vh;
        position: relative;
        align-self: center;
        margin-left: 5vw;
        margin-right: 5vw;
        z-index: 2;
        margin-top: 0vh;
    }
    .showcase .imagesres .img3{
        /* height: 20%; */
        width: 40vw;
        position: relative;
        align-self: center;
        z-index: 2;
        margin-top: 0vh;
        /* margin-left: 5vw; */
        margin-right: 5vw;
    }
    .showcase-top {
        display: none;
        width: 100%;
        margin-top: 5vh;
        /* background-color: rgb(0, 25, 54); */
        background: transparent;
        align-items: center;
        justify-content: center;
        text-align: center;
        align-content: center;
        z-index: 2;
        position: absolute;
    }
    .showcase-hidden {
        color: white;
        display: block;
    }
    
    .showcase-hidden h1 {
        white-space: nowrap;
        width: 100%;
        position: absolute;
        color: white;
        font-weight: 400;
        font-size: 0.5em;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        z-index: 2;
        margin-top: -7vh;
        /* margin-bottom: 1vh; */
    }
    .showcase-hidden h2, .showcase-hidden h3, .showcase-hidden h4, .showcase-hidden h5 {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-top: 0vh;
        width: 100%;
        white-space: nowrap;
        position: absolute;
        /* color: rgb(0, 89, 255); */
        /* background: linear-gradient(to right,#f00,#f00,#0f0,#0f0,#00f,#00f); */
        background: linear-gradient(to left,#ffff66,#fc6e22,#c246f6,#e50914);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: #14dcff;
        font-weight: 600;
        font-size: 1.8em;
        z-index: 2;
    }
    .showcase-bar {
        max-width: 100%;
        height:fit-content;
        z-index: 2;
        position: fixed;
    }
    .showcase-hidden p {
        margin-top: 8vh;
        color: yellow;
        word-wrap: break-word;
        position: relative;
        z-index: 4;
    }
    .reg{
        top: 87vh;
        /* font-size: 2em; */
        font-weight: 1.5em;
    }
    .showcase-hidden h6 {
        white-space: nowrap;
        width: 100%;
        position: absolute;
        color: red;
        font-weight: 800;
        font-size: 0.8em;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        z-index: 2;
        margin-top: -6vh;
        margin-bottom: 1vh;
    }
    .showcase-hidden a {
        color: chartreuse;
        text-decoration: none;
    }
    .showcase-hidden a:hover {
        color: rgba(65, 129, 0, 0.603);
        font-weight: 900;
        text-decoration: none;
    }
    .showcase-top p:hover {
        color: yellow;
    }
    .btn {
        display: inline-block;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        cursor: pointer;
        outline: none;
        border-radius: 0px;
        cursor: auto;
        background: 0%;
        border-top: 0.5vh solid;
        font-size: 0.5em;
        padding-top: 0.5rem;
    }
    .btn-xl {
        /* width: 30vw; */
        /* padding-top: 2%; */
        white-space: nowrap;
        margin-bottom: 2vh;
    }
    
    
    /* clock countdown css */
    .time li {
        display: inline-block;
        font-size: 0.5em;
        list-style-type: none;
        padding: 1em;
        color: white;
        height: 18vh;
        width: 10vw;
        text-transform: uppercase;
        width: 10vw;
    }
      
    .time li span {
        display: block;
        font-size: 1.2em;
        width: 10vw;
    }
    .time {
        color: #333;
        position: absolute;
        width: 100%;
        margin-top: 4vh;
        margin-bottom: 10%;
        align-content: center;
        text-align: center;
        z-index: 2;
        margin-left: -47vw;
      }
    
    .content{
        min-width: 100vw;
        height: 100vh;
        background-color:rgb(9, 12, 43);
        padding: 0 !important;
        margin: 0 !important;
        overflow: hidden !important;
    }
    
    /* Slideshow container */
    .slideshow-container {
      max-width: 100%;
      margin: 0;
      padding: 0;
      position: relative;
      margin: auto;
    }
    
    /* Hide the images by default */
    .mySlides {
      /* display: none; */
      overflow: hidden;
      z-index: 12;
    }
    .mySlides img{
        
        max-height: 35vh;
        min-width: 100vw;
        margin-left: -5vh;
      }
    
    /* Fading animation */
    .fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 3.5s;
      animation-name: fade;
      animation-duration: 3.5s;
    }
    
    @-webkit-keyframes fade {
      from {opacity: .4}
      to {opacity: 1}
    }
    
    @keyframes fade {
      from {opacity: .4}
      to {opacity: 1}
    }
    
    .about-us{
        color: seashell;
        background-color: rgb(9, 12, 43);
        height: auto;
    }
    
    .about-us h1{
        padding-left: 5vh;
        margin-top: 5vh;
        font-size: 1em;
        font-weight: 600;
        background-color: #00d9ffcb;
        width: 60vw;
        padding-bottom: 1vh;
        padding-top: 0.5vh;
    }
    .about-us p{
        margin-left: 5vh;
        margin-right: 5vh;
        text-align: justify;
        margin-top: 4vh;
        font-size: 0.4em;
    }
    
    .conclave{
        color: seashell;
        background-color: rgb(9, 12, 43);
        height: auto;
    }
    
    .conclave h1{
        padding-right: 5vh;
        margin-top: 5vh;
        font-size: 1em;
        font-weight: 600;
        /* float: right; */
        width: 73vw;
        padding-left: 8vw;
        background-color: #00d9ffcb;
        /* margin-bottom: 15vh; */
        padding-bottom: 1vh;
        padding-top: 0.5vh;
    }
    .conclave p{
        margin-left: 5vh;
        margin-right: 5vh;
        text-align: justify;
        margin-top: 4vh;
        font-size: 0.4em;
    }
    
    .glance{
        /* position : relative; */
        /* margin-top : 1%; */
        /* width: 100%; */
        height: auto;
        min-width: 10vw;
        /* border-radius: 2rem; */
        background-color: rgb(9, 12, 43);
        z-index: 1;
        margin-bottom : 3%;
        color: aliceblue;
    }
    .glance a{
        /* color: rgb(255, 255, 255); */
        word-break: break-all;
        white-space: normal;
        font-weight: 600;
        font-size: 1.2em;
        /* padding-top: 6vh; */
        margin-left: 2%;
        text-align: center;
    }
    .glance p1{
        /* color: black; */
        /* padding-top:s 5vh; */
        font-weight: 400;
        font-size: 0.5em;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-left: 8%;
        text-align: center;
        /* padding-top: 3%;
        padding-bottom : 3%; */
    }
    .glance p2{
        /* color: black; */
        margin-top : 0%;
        /* padding-top : 90vh; */
        font-weight: 350;
        font-size: 0.3em;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    
    .speakers{
        background-color: rgb(9, 12, 43);
        height: auto;
        min-width: 100vw;
        /* margin-left: vw; */
    }
    .speakers h1{
        color: aliceblue;
        padding-left: 5vh;
        margin-top: 5vh;
        font-size: 1em;
        font-weight: 600;
        background-color: #00d9ffcb;
        width: 100vw;
        padding-bottom: 1vh;
        padding-top: 0.5vh;
        margin-bottom: 5vh;
    }
    .keylist{
        margin-left: 7vw;
        margin-right: 5vw;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
        grid-template-rows: auto;
        grid-gap: 0 2.5%;
    }
    .list{
        margin-left: 7vw;
        margin-right: 5vw;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
        grid-template-rows: auto;
        grid-gap: 0 2.5%;
    }
    .card
      {
        position: relative;
        width: 45vw;
        height: 65vw;
        background: #fff;
        box-shadow: 0 20px 50px rgba(0,0,0,.1);
        border-radius: 10px;
        transition: 0.5s;
        margin-bottom: 5vh;
      }
      .card:hover
      {
        box-shadow: 0 12px 30px rgba(247, 247, 247, 0.658);
      }
      .card .box1
      {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        text-align: center;
        padding: 20px;
        width: 100%;
        box-sizing: border-box;
      }
      .card .box1 .img
      {
        width: 120px;
        height: 120px;
        margin: 0 auto;
        border-radius: 50%;
        overflow: hidden;
      }
      .card .box1 .img img
      {
        width: 100%;
      }
      .card .box1 h2
      {
        font-size: 0.6em;
        color: #262626;
      }
      .card .box1 h2 span
      {
        font-size: 0.6em;
        background: rgb(9, 12, 43);
        color: #fff;
        display: inline-block;
        padding: 4px 10px;
        border-radius: 15px;
      }
      /* .card .box1 ul
      {
        margin: 0;
        padding: 0;
        display: inline-block;
      }
      .card .box1 ul li
      {
        list-style: none;
        float: left;
      }
      .card .box1 ul li a
      {
        display: block;
        color: #aaa;
        margin: 0 10px;
        font-size: 20px;
        transition: 0.5s;
        text-align: center;
      }
      .card .box1 ul li:hover a
      {
        color: rgb(9, 12, 43);
        transform: rotateY(360deg);
      } */
    .overlay {
        position: fixed; /* Sit on top of the page content */
        display: none; /* Hidden by default */
        width: 100%; /* Full width (cover the whole page) */
        height: 100%; /* Full height (cover the whole page) */
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5); /* Black background with opacity */
        z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
        cursor: pointer; /* Add a pointer on hover */
    }
    #text{
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 50px;
        color: white;
        transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
    }
    .over {
        /* border: 5px dotted #bbb; */
        /* width: 80%; */
        border-radius: 15px; /* Rounded border */
        margin: 0 auto; /* Center the coupon */
        max-width: 600px;
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 50px;
        color: rgb(0, 0, 0);
        transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
      }
      
    .speaker-overlay {
        /* padding: 2px 16px; */
        background-color: #f1f1f1;
        height: auto;
        /* width: 300px; */
    }
    
    .speaker-overlay p{
        font-size: 0.3em;
        text-align: justify;
    }
    .speaker-overlay img{
        padding-top: 25%;
    }
    .speaker-overlay h2{
        font-size: 0.5em;
    }
    .day1{
        color: seashell;
        background-color: rgb(9, 12, 43);
        height: auto;
    }
    
    /* .day1 h1{
        padding-left: 10vh;
        margin-top: 5vh;
        font-size: 1.5em;
        font-weight: 600;
        background-color: #00d9ffcb;
        width: 23vw;
        padding-bottom: 1vh;
        padding-top: 0.5vh;
    } */
    .day1 h2{
        padding-left: 5vh;
        margin-top: 5vh;
        font-size: 1em;
        font-weight: 600;
        background-color: #00d9ffcb;
        width: 70vw;
        padding-bottom: 1vh;
        padding-top: 0.5vh;
    }
    /* .day1 p{
        margin-left: 10vh;
        margin-right: 5vh;
        text-align: justify;
        margin-top: 4vh;
        font-size: 0.8em;
    } */
    
    .day2{
        color: seashell;
        background-color: #00d9ffcb;
        height: auto;
    }
    
    .day2 h2{
        padding-right: 10vh;
        margin-top: 5vh;
        font-size: 1em;
        font-weight: 600;
        /* float: right; */
        width: 70vw;
        padding-left: 10vw;
        background-color: rgb(9, 12, 43);
        /* margin-bottom: 15vh; */
        padding-bottom: 1vh;
        padding-top: 0.5vh;
    }
    /* .day2 p{
        margin-left: 5vh;
        margin-right: 10vh;
        text-align: justify;
        margin-top: 4vh;
        font-size: 0.8em;
    } */
    .schedule{
        width: 90vw;
        height: 25vw;
        background-color: #f1f1f1;
        border-radius: 2vw;
        margin-left: 9vw;
        color: #141414;
        margin-top: 1vh;
        margin-bottom: 1vh;
    }
    .s1{
        height: 30vw;
    }
    .s2{
        height: 26vw;
    }
    .v{
        height: 0;
    }
    .sectop{
        width: 90vw;
        height: 10vw;
        background-color: rgb(2, 175,212);
        border-radius: 2vw;
        /* margin-left: 6vw; */
        color: #141414;
        position: absolute;
    }
    .sectop2{
        width: 90vw;
        height: 10vw;
        background-color: rgb(9, 12, 43);
        border-radius: 2vw;
        /* margin-left: 6vw; */
        color: #141414;
        position: absolute;
    }
    .date{
        width: 43vw;
        height: 2.5vw;
        /* background-color: #0d97af; */
        margin-left: 46vw;
        margin-top: 2vw;
        position: absolute;
        color: #f1f1f1;
    }
    .date p{
        font-size: 0.5em;
        font-weight: 600;
        text-align: center;
    }
    .session{
        width: 45vw;
        /* height: 3vw; */
        /* background-color: #b5e509; */
        margin-left: 1vw;
        margin-top: 2vw;
        position: absolute;
        color: #f1f1f1;
    }
    .session p{
        font-size: 0.45em;
        font-weight: 600;
        text-align: center;
    }
    .desc{
        width: 85vw;
        /* height: 3vw; */
        /* background-color: #e509c0; */
        margin-left: 1vw;
        margin-top: 11.5vw;
        position: absolute;
    }
    .desc p{
        font-size: 0.4em;
        font-weight: 600;
        text-align: center;
    }
    .desc h6{
        font-size: 0.43em;
        font-weight: 700;
        text-align: center;
        color: rgb(9, 12, 43);
    }
    .regbutton{
        width: 30vw;
        /* height: 8vw; */
        /* background-color: #b5e509; */
        margin-left: 63vw;
        margin-top: 10vw;
        position: absolute;
    }
    .regbutton a{
        font-size: 0.4em;
        font-weight: 600;
        text-align: center;
        text-decoration: none;
        color: #e50914;
    }
    .session-video{
        height: auto;
    }
    .session-video h2{
        padding-left: 5vh;
        margin-top: 5vh;
        font-size: 1em;
        font-weight: 600;
        background-color: #00d9ffcb;
        width: 70vw;
        padding-bottom: 1vh;
        padding-top: 0.5vh;
    }    
    .vidlist{
        margin-left: 9vw;
        margin-right: 5vw;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(90%, 1fr));
        grid-template-rows: auto;
        grid-gap: 0 0%;
    }
    .vidcard{
        position: relative;
        width: 90vw;
        height: 75vw;
        background: rgba(255, 255, 255, 0.6);
        box-shadow: 0 20px 50px rgba(0,0,0,.1);
        /* border-radius: 10px; */
        transition: 0.5s;
        margin-bottom: 5vh;
    }
    .vidcard:hover{
        box-shadow: 0 12px 30px rgba(247, 247, 247, 0.658);
    }
    .vidcard .box1{
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        text-align: center;
        padding: 20px;
        width: 100%;
        box-sizing: border-box;
    }
    .vidcard .box1 h4{
        font-size: 20px;
        font-weight: 600;
        color: #262626;
    }
    .vidcard .box1 h4 span{
        margin-top: 1vh;
        font-size: 14px;
        background: rgba(0, 0, 0, 0.8);
        color: #fff;
        display: inline-block;
        padding: 4px 10px;
        /* border-radius: 15px; */
    }
    .team{
        color: seashell;
        background-color: rgb(9, 12, 43);
    }
    
    .h{
        height: 50vh;
    }
    .team h1{
        padding-left: 5vh;
        margin-top: 5vh;
        font-size: 1em;
        font-weight: 600;
        background-color: #00d9ffcb;
        width: 70vw;
        padding-bottom: 1vh;
        padding-top: 0.5vh;
    }
    .team p{
        margin-left: 5vh;
        margin-right: 5vh;
        text-align: justify;
        margin-top: 4vh;
        font-size: 0.6em;
        padding-bottom: 3vh;
    }
    
    .team a{
        margin-left: 5vh;
        text-decoration: none;
        font-weight: 600;
    }
    
    .team a:hover{
        margin-left: 10vh;
        color: #14dcff;
        transform: scale(1.2);
        transition: 0.5s;
    }
    
    .teamimg img{
        min-width: 100vw;
        max-height: auto;
        margin-left: -8vh;
    }
    
    .sponsor{
        color: seashell;
        background-color: rgb(9, 12, 43);
    }
    
    .sponsor h1{
        padding-right: 10vh;
        margin-top: 5vh;
        font-size: 1em;
        font-weight: 600;
        /* float: right; */
        width: 60vw;
        padding-left: 10vw;
        background-color: #00d9ffcb;
        /* margin-bottom: 15vh; */
        padding-bottom: 1vh;
        padding-top: 0.5vh;
    }
    .sponsor p{
        margin-left: 5vh;
        margin-right: 10vh;
        text-align: justify;
        margin-top: 4vh;
        font-size: 0.6em;
        padding-bottom: 3vh;
    }
    
    .sponsor a{
        margin-left: 5vh;
        /* margin-top: 5vh; */
        text-decoration: none;
        font-weight: 600;
    }
    
    .sponsor a:hover{
        margin-left: 10vh;
        color: #14dcff;
        transform: scale(1.2);
        transition: 0.5s;
    }
    
    .faq{
        background-color: rgb(9, 12, 43);
        height: auto;
        min-width: 100vw; 
    }
    
    .faq h1{
        color: aliceblue;
        padding-left: 5vh;
        margin-top: 5vh;
        font-size: 1em;
        font-weight: 600;
        background-color: #00d9ffcb;
        width: 60vw;
        padding-bottom: 1vh;
        padding-top: 0.5vh;
        margin-bottom: 5vh;
    }
    .collapsible {
        background-color: transparent;
        color: white;
        cursor: pointer;
        padding: 18px;
        /* width: 100%; */
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        padding-left: 7vh;
        padding-right: 5vh;
      }
      
      .active, .collapsible:hover {
        background-color: rgba(0, 0, 0, 0.5);
      }
      
      .answer {
        padding: 0 18px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        background-color: #f1f1f1;
        font-size: 0.6em;
        padding-left: 10vh;
        padding-right: 10vh;
        text-align: justify;
      }
      .footer{
        background-color: rgb(0, 0, 0);
        height: auto;
        min-width: 100vw;
        color: #f1f1f1;
    }
    
    .footer h1{
        padding-right: 0vh;
        margin-top: 5vh;
        font-size: 0.8em;
        font-weight: 600;
        /* float: right; */
        color: black;
        width: 60vw;
        padding-left: 10vw;
        background-color: #f1f1f1;
        /* margin-bottom: 15vh; */
        padding-bottom: 1vh;
        padding-top: 0.5vh;
    }
    .footer p{
        margin-left: 5vh;
        margin-right: 2vh;
        /* margin-top: 4vh; */
        font-size: 0.5em;
        font-weight: 700;
    }
    .fr{
        text-align: center !important;
    }
    .fl{
        text-align: center !important;
    }
}
