:root {
    --cart-button:rgb(42, 42, 46);
    --container-bg: rgba(36, 35, 41, 0.548);
    --hero-bg: black;
    --card-bg: rgb(47, 47, 53);
    --combo-card-bg: rgb(32, 32, 36);
    --card-bottom: rgb(41, 41, 46);
    --nav-color: #34383d;
    --primary: #8AB2FF;
    --secondary: #E42F45;
    --secondary-variant: #B42B3F;
    --blue-gradient: linear-gradient(135deg, #8AB2FF, #0366ca);
    --red-gradient: linear-gradient(135deg, #e66f6f, #f02f2f);
}