*{
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Source+Code+Pro&display=swap');

@font-face {
    font-family: CrackedCode;
    src: url('../font/CrackedCode.ttf');
}

@font-face {
    font-family: pdark;
    src: url('../font/pdark.ttf');
}

@font-face {
    font-family: circuitboard;
    src: url('../font/Circuitboard-pnEy.ttf');
}

body {
    background-color: black;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    overflow: hidden;
}

body::-webkit-scrollbar {
    display: none;
}



/* Navbar Start */
.navbar{
    background-color: rgba(0, 0, 0, 0.5);
}
.nav-text{
    color: #ffffff;
    font-weight: bold;
}

@media screen and (max-width: 600px){
    .navbar{
        display: none;
    }
}

/* Heading start */

.heading{
    width: 50vw;
    color: white;
    font-weight: bold;
    position: absolute;
    z-index: 3;
    text-align: center;
    height: 15vh;
    display: flex;
    justify-content: center;
}

.heading h2{
    position: absolute;
    font-weight:bold;
    font-size: 6em;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    z-index: 4;
}

.heading p{
    margin-top: -3.5vh;
    position: absolute;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.03em;
    color: transparent;
	font-size: 8em;
	-webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

@media screen and (max-width: 600px){
    .heading{
        width: 92vw;
        height: 10vh;
        /* border: 3px solid red; */
        /* top: -12%; */
    }
    .heading h2{
        font-size: 3.5em;
        margin-top: -0.2vh;
    }
    .heading p{
        margin-top: -3vh;
        letter-spacing: -0.03em;
        font-size: 5em;
    }
}

/* Background Image start */

.bg-image {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
}

@media screen and (max-width: 700px){
    .bg-image{
        height: 60vh;
        width: 300vw;
    }
    .div-scroll{
        margin-top: -10vh;
        width: 98vw;
        height: 70vh;
        overflow: auto;
        text-align: justify;
    }
}

/* Home Start */

.home{
    height: 100vh;
    z-index: -2;
}
  
.home-text {
    width: 100vw;
    height: 100vh;
    color: rgb(255, 255, 255);
    font-weight: bold;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
    justify-content: center;
    overflow: hidden;
  }

.home-col-left{
    padding-top: 30vh;
    margin-left: -5vw;
}
.home-col-right{
    margin-top: 30vh;
}
.home-text h1{
    font-size: 5.5em;
    font-family: CrackedCode;
    overflow: hidden;
}

.home-text h2{
    font-family: circuitboard;
    font-size: 4em;
}

.home-text h3{
    font-family: pdark;
    font-size: 2em;
}
.home-img{
    width:100%;
}
.logo-img{
    display: none;
}

@media screen and (max-width: 700px){
    .home{
        justify-content: center;
    }
    .home-text h1{
        font-size: 12vw;
    }
    .home-text h2{
        font-size: 3em;
        margin: -4%;
        margin-top: 10%;
    }
    .home-text{
        top:20%;
        justify-content: center;
        overflow: visible;
    }
    .home-col-left{
        margin-top: 1vh;
        /* padding-left: 6vw; */
        margin-left: 0;
    }
    .home-col-right{
        margin-top: 4vh;
        padding-right: 0%;
        overflow: visible;
    }
    .logo-img{
        margin-top: 3%;
        width: 40%;
        display: inline;
    }
    .home-img{
        width:70%;
    }
}

/* About Start */

.about{
    background-color: rgb(29, 29, 29);
    height: 100vh;
    width: 100vw;
    z-index: -2;
}

.about-text{
    width: 100%;
    color: white;
    font-weight: bold;
    position: absolute;
    top: 112%;
    left: 1%;
    z-index: 3;
    text-align: justify;
    /* border: 3px solid red; */
}

.about-p p{
    font-size: 1.3em;
}
.about-p h6{
    font-size: 1.3em;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.about-col-left{
    padding-left: 4vw;
    padding-right: 3vw;
}
.about-col-right{
    margin-top: -18vh;
    padding-left: 4vw;
    padding-right: 3vw;
}
.about-p img{
    height: 40vh;
    padding-left: 25vh;
}
.about-p h1{
    font-size: 2em;
    text-align: center;
}
@media screen and (max-width: 700px){
    .about{
        height: 130vh;
    }
    .about-text{
        top: 112%;
    }
    .about-p p{
        font-size: 0.8em;
    }
    .about-p img{
        padding-left: 10vw;
    }
    .about-p h6{
        font-size: 0.9em;
    }
    .about-p h1{
        font-size: 2em;
        text-align: center;
    }
    .about-col-left{
        margin-top: -10vh;
        padding-left: 0%;
        padding: 15px;
    }
    .about-col-right{
        margin-top: -5vh;
        padding: 15px;
    }
}

/* Ideathon start */

.ideathon{
    /* background-color:yellow; */
    height: 100vh;
    width: 100%;
    z-index: -2;
}

.ideathon-text{
    width: 100vw;
    color: rgb(255, 255, 255);
    font-weight: bold;
    position: absolute;
    top: 212%;
    left: 1%;
    z-index: 3;
    text-align: center;   
}

.details{
    font-family: Oxygen;
    margin-top: 3vh;
}

.details .box{
    position: relative;
    height: 57vh;
    width: 22%;
    background: #060c21;
    display: flex;
    justify-content: justify;
    align-items: center;
    margin-left: 2vw;
}
.details .box::before{
    content: '';
    position: absolute;
    top: -2.5px;
    left: -2.5px;
    right: -2.5px;
    bottom: -2.5px;
    background: #fff;
    transform: skew(2deg,2deg);
    z-index: -1;            
}
.details .box:nth-child(1)::before{
    background: linear-gradient(315deg,#ff0057,#e64a19);
}
.details .box:nth-child(4)::before{
    background: linear-gradient(315deg,#89ff00,#00bcd4);
}
.details .box:nth-child(3)::before{
    background: linear-gradient(315deg,#5d02ff,#ffc107);
}
.details .box:nth-child(2)::before{
    background: linear-gradient(315deg,#e64a19,#89ff00);
}
.details .box::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255,255,255,0.05);
    pointer-events: none;
}
.con{
    position: relative;
    padding: 20px;
    padding-top: 0px;
    margin-top: -3vh;
    transform: translateY(40px);
}
.box .con h2{
    position: absolute;
    top: -10px;
    right: 20px;
    margin: 0;
    margin: 0;
    padding: 0;
    font-size: 10em;
    font-weight: bold;
    color: rgba(255,255,255,0.05);
    transition: 0.5s;

}
.box:hover .con h2{
    top: -90px;
}
.box .con h3{
    /* margin: 0 0 10px; */
    padding: 0;
    /* top: -30vh; */
    font-size: 2em;
    font-weight: bold;
    color: #fff;

}
.box .con p{
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 18px;
    text-align: center;
}
.box .con a{
    position: relative;
    margin: 20px 0 0;
    padding: 10px 20px;
    text-decoration: none;
    font-size: medium;
    border: 1px solid #fff;
    display: inline-block;
    color: #fff;
    transition: 0.5s;
    transform: translateY(-40px);
    opacity: 0;
    visibility: hidden;
}
.box:hover .con a{
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}
.box .con a:hover{
    color: #000;
    background: #fff;
}

@media screen and (max-width: 700px){
    .ideathon{
        /* background-color:yellow; */
        height: 190vh;
    }
    
    .ideathon-text{
        top: 252%; 
    }
    .details{
        margin-top: -10vh;
    }
    .details .box{
        position: relative;
        height: 54vh;
        width: 80%;
        background: #060c21;
        display: flex;
        justify-content: justify;
        align-items: center;
        margin: 1em;
    }
    .box .con h3{
        font-size: 2em;
        font-weight: bold;
    }
}

/* Judges start */

.judges{
    background-color: rgb(59, 117, 0);
    height: 100vh;
    width: 100%;
    z-index: -2;
}

.judges-text{
    width: 100%;
    color: white;
    font-weight: bold;
    position: absolute;
    top: 312%;
    left: 1%;
    z-index: 3;
    text-align: center;
    /* border: 3px solid red; */
}

.judge-img{
    margin-top: 5vh;
    position: relative;
    display: flex;
    width: 19vw;
    height: 20vw;
    justify-self: center;
    justify-content: justify;
    align-items: center;
    z-index: 6;
    margin-left: 2vw;
    
}

.judge-border{
    margin-left: 2vw;
    /* border: 3px solid black; */
    background-color: rgba(0, 0, 0, 0.5);
    width: 21vw;
    height: 20vw;
    top: -21vw;
    left: -1vw;
    position: relative;
    /* z-index: 7; */
}

.judge-img-big{
    position: relative;
    display: flex;
    width: 22vw;
    height: 23vw;
    justify-self: center;
    justify-content: justify;
    align-items: center;
    z-index: 6;
}

.judge-border-big{
    /* border: 3px solid black; */
    background-color: rgba(0, 0, 0, 0.5);
    width: 24vw;
    height: 23vw;
    top: -24vw;
    left: -1vw;
    position: relative;
}

.judges-p h1{
    font-size: 2em;
    font-weight: bold;
    top: -20vw;
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.judges-p p{
    font-size: 1.2em;
    top: -20vw;
    position: relative;
}
.judge-phone{
    display: none;
}
.judge-web{
    display: block;
}

@media screen and (max-width: 700px){
    .judges{
        height: 200vh;
    }
    .judge-web{
        display: none;
    }
    .judge-phone{
        display: inline;
        width: 100%;
        /* padding: 0; */
    }
    .judges-text{
        top: 452%;
    }
    .judge-img{
        margin-top: 5vh;
        width: 80vw;
        height: 85vw;
        margin-left: 4vw;
    }
    .judges-p:nth-child(1){
        margin-top: -10vh;
    }
    .j2{
        margin-top: -30vh;
    }
    .judge-border{
        margin-left: 2vw;
        width: 86vw;
        height: 84vw;
        top: -88vw;
        left: -1vw;
    }
    .judges-p h1{
        font-size: 2em;
        font-weight: bold;
        top: -80vw;
        position: relative;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    
    .judges-p p{
        font-size: 1.2em;
        top: -80vw;
        position: relative;
    }
}

/* Timeline start */

.timeline{
    background-color:chocolate;
    height: 140vh;
    width: 100%;
    z-index: -2;
}

.timeline-text{
    width: 100%;
    color: white;
    font-weight: bold;
    position: absolute;
    top: 412%;
    left: 1%;
    z-index: 3;
    text-align: center;
    /* padding-top: 20vh; */
    /* border: 3px solid red; */
}

.scroll {
    /* background-color: #e64a19; */
    width: 98vw;
    height: 110vh;
    overflow: auto;
    text-align: justify;
    padding: 20px;
}
@media screen and (max-width: 700px){
    .timeline{
        height: 130vh;
    }
    
    .timeline-text{
        top: 667%;
    }
    .scroll{
        margin-left: -5vh;
        margin-top: -10vh;
        height: auto;
    }
}

.scroll::-webkit-scrollbar {
    display: none;
}

/* The actual timeline (the vertical ruler) */
.timeline-div {
    position: relative;
    width: 94vw;
    /* margin-top: 20vh; */
    /* border: 3px solid red;  */
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline-div::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  /* Container around content */
  .container-div {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  /* The circles on the timeline */
  .container-div::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  /* Place the container to the left */
  .left {
    left: 0;
  }
  
  /* Place the container to the right */
  .right {
    left: 50%;
  }
  
  /* Add arrows to the left container (pointing right) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }
  
  /* Add arrows to the right container (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  
  /* Fix the circle for containers on the right side */
  .right::after {
    left: -16px;
  }
  
  /* The actual content */
  .content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
    color: black;
  }
  
  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 700px) {
  /* Place the timelime to the left */
    .timeline-div::after {
      left: 31px;
    }
  
  /* Full-width containers */
    .container-div {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
      overflow: visible;
    }
  
  /* Make sure that all arrows are pointing leftwards */
    .container-div::before {
      left: 60px;
      border: medium solid white;
      border-width: 10px 10px 10px 0;
      border-color: transparent white transparent transparent;
    }
  
  /* Make sure all circles are at the same spot */
    .left::after, .right::after {
      left: 15px;
    }
  
  /* Make all right containers behave like the left ones */
    .right {
      left: 0%;
    }
    .content{
        width: 34vh;
        overflow: visible;
    }
    .content h2{
        font-size: 1.4em;
    }
  }

/* Register start */

.register{
    /* background-color:rgb(0, 90, 53); */
    height: 100vh;
    width: 100%;
    z-index: -2;
}

.register-text{
    width: 100%;
    color: white;
    font-weight: bold;
    position: absolute;
    top: 552%;
    left: 1%;
    z-index: 3;
    text-align: center;
    /* border: 3px solid red; */
}

.register-col-left{
    /* padding-top: 30vh; */
    margin-left: -5vw;
}
.register-col-right{
    margin-top: -15vh;
    /* padding-left: 50vw; */
}

.rules{
    padding-left: 10vw;
    /* margin-top: 5vh; */
    font-size: 1.5em;
}

.rules p{
    padding-top: 15vh;
    text-align: justify;
    font-size: 2.5em;
}

.register-col-right p{
    text-align: center;
    font-size: 2em;
    padding-top: 15vh;
    padding-bottom: 15vh;
    padding-left: 3vw;
    color: red;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 5px red, 0 0 10px red, 0 0 15px red, 0 0 20px red, 0 0 25px red;
    }
    to {
      text-shadow: 0 0 10px rgb(150, 0, 0), 0 0 15px rgb(150, 0, 0), 0 0 20px rgb(150, 0, 0), 0 0 25px rgb(150, 0, 0), 0 0 30px rgb(150, 0, 0);
    }
  }

.form{
    top: 5vh;
    right: 10vw;
    padding-left: 10vw;
    justify-self: right;
    /* position: absolute; */
    height: 77vh;
    width: 50vw;
    overflow: hidden;
}

@media screen and (max-width: 700px) {
    .register-col-right p{
        padding: 2vh;
        /* margin-left: 5vw;
        margin-right: -5vw; */
    }
    .register{
        /* background-color:rgb(0, 90, 53); */
        height: 100vh;
        width: 100%;
        z-index: -2;
    }
    .register-col-left{
        /* padding-top: 30vh; */
        margin-left: -8vw;
        margin-top: -10vh;
    }
    .register-col-right{
        margin-top: 0vh;
        /* margin-left: -8vw; */
    }
    .rules{
        font-size: 1em;
    }
    .rules p{
        padding-top: 10vh;
    }
    .register-text{
        top: 802%;
    }
    .form{
        top: 5vh;
        right: 10vw;
        padding-left: 10vw;
        justify-self: right;
        /* position: absolute; */
        height: 98vh;
        width: 95vw;
        overflow: hidden;
    }
    
}

/* Contact start */

.faqs{
    background-color: #9370bb;
    min-height: 100vh;
    /* height: ; */
    width: 100%;
    z-index: -2;
}

.faqs-text{
    width: 100%;
    color: white;
    font-weight: bold;
    position: absolute;
    top: 652%;
    left: 1%;
    z-index: 3;
    text-align: center;
    /* border: 3px solid red; */
}

.QandA{
    font-size: 1.2em;
    /* padding: 0.5em; */
    /* border: 3px solid red; */
    border-radius: 1em;
    background-color: bisque;
    margin-top: 0.8em;
}

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.question{
    font-family: 'Source Code Pro', monospace;
    font-size: 1.0em;
    /* background-color: #eee; */
    color: #444;
    cursor: pointer;
    padding: 1em;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    z-index: 10;
}

.ac, .question:hover {
    background-color: white;
    border-radius: 1em;
}

.answer{
    font-family: 'Pacifico', cursive;
    color: purple;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    background-color: bisque;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    display: none;
    overflow: hidden;
    z-index: 5;
}

.quiz-col-left{
    margin-top: 10vh; padding-left: 6vw;
}
.quiz-col-right{
    margin-top: 4vh; padding-right: 6vw;
}
.scroll-faq{
    /* background-color: #e64a19; */
    width: 98vw;
    height: 64vh;
    overflow: auto;
    text-align: justify;
    padding: 20px;
}
.scroll-faq::-webkit-scrollbar {
    display: none;
}
@media screen and (max-width: 700px) {
    .faqs{
        /* background-color:rgb(0, 90, 53); */
        height: 115vh;
        width: 100%;
        z-index: -2;
    }
    
    .faqs-text{
        top: 922%;
    }
    .quiz-col-left{
        margin-top: 0vh;
        padding-left: 3vw;
        padding-right: 6vw;
    }
    .quiz-col-right{
        margin-top: -2vh;
        /* padding-right: 2vw; */
        /* padding-left: 13vw; */
    }
    .scroll-faq{
        /* background-color: #e64a19; */
        margin-top: -10vh;
        width: 98vw;
        height: 100vh;
        overflow: auto;
        text-align: justify;
        padding: 0px;
    }
}