:root {
    --primary-color:#e50914;
    --dark-color:#141414;
    --natural-color:rgb(0, 0, 0);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-attachment: fixed;
}
body{
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.left{position:relative;animation:animateleft 1.5s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.right{position:relative;animation:animateright 1.5s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    -webkit-font-smoothing: antialiased;
    /* background: transparent; */
    /* background-image: url("../img/city.jpg"); */
    background-size: cover;
    margin: 0;
}
body::-webkit-scrollbar{
    display: none;
}
.showcase {
    width: 100vw;
    height: 100vh;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: relative;
    /* background: url('../vid/200129_01_Plexus_human_body_white_on_blue.mp4');
    background-repeat: repeat; */
    background-size: cover;
    background-blend-mode: hue;
}
#myVideo {
    position: absolute;
    /* top: 0;
    left: 0; */
    right: 0;
    bottom: 0;
    width: 100vw;
    /* height: 100vh; */
  }
.showcase::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background: rgba(0, 0, 0, 0.6);
    /* box-shadow: inset 60px 50px 100px #000000, inset -60px -50px 100px #000000; */
}
.showcase .images .img1{
    height: 20%;
    width: 20%;
    position: relative;
    align-self: center;
    z-index: 2;
    margin-top: 5vh;
    margin-left: 15vw;
    margin-right: 10vw;
}
.showcase .images .img2{
    height: 20%;
    width: 20%;
    position: relative;
    align-self: center;
    margin-left: 5vw;
    z-index: 2;
    margin-top: 0vh;
}
.showcase .images .img3{
    height: 20%;
    width: 20%;
    position: relative;
    align-self: center;
    z-index: 2;
    margin-top: 5vh;
}
.showcase-top {
    width: 100%;
    margin-top: 5vh;
    /* background-color: rgb(0, 25, 54); */
    background: transparent;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-content: center;
    z-index: 2;
    position: absolute;
}
.showcase-hidden {
    color: white;
    display: none;
}
.showcase-top a {
    width: 100%;
    position: absolute;
    display: inline-block;
    color: chartreuse;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
    margin-top: 50vh;
    text-align: center;
    z-index: 2;
}
.showcase-top p {
    margin-top: 30vh;
    color: yellow;
    word-wrap: break-word;
    position: relative;
    /* font-weight: 350; */
    width: 100%;
}
.showcase-top h1 {
    white-space: nowrap;
    width: 100%;
    position: absolute;
    color: white;
    font-weight: 400;
    font-size: 2.2vw;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    z-index: 2;
    margin-top: -7vh;
    margin-bottom: 1vh;
}
.showcase-top h2, .showcase-top h3 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 0vh;
    width: 100%;
    white-space: nowrap;
    position: absolute;
    /* color: rgb(0, 89, 255); */
    /* background: linear-gradient(to right,#f00,#f00,#0f0,#0f0,#00f,#00f); */
    background: linear-gradient(to left,#ffff66,#fc6e22,#c246f6,#e50914);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #14dcff;
    font-weight: 600;
    font-size: 4.5rem;
    z-index: 2;
}
.showcase-top h3{
    width: 60%;
    margin-left: 19%;
    background: linear-gradient(to left,#ffff66,#fc6e22,#c246f6,#e50914);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 13vh;
    font-size: 4.5rem;
}
.showcase-top a:hover{
    padding-left: 35vw;
    color: rgb(0, 25, 54);
    background: chartreuse;
    box-shadow: 0 0 10px chartreuse,0 0 10px chartreuse,0 0 10px chartreuse,0 0 10px chartreuse;
    z-index: 30;

}
.showcase-bar {
    max-width: 100%;
    height:fit-content;
    z-index: 2;
    position: fixed;
    /* background-color: black; */
    /* border-bottom : 3px solid #3d3d3d; */
}
.showcase-bar a img {
    top: 9%;
    position: relative;
    padding: 0.5%;
}


/* clock countdown css */
.time li {
    display: inline-block;
    font-size: 0.8em;
    list-style-type: none;
    padding: 1em;
    color: white;
    height: 18vh;
    width: 10vw;
    text-transform: uppercase;
}
  
.time li span {
    display: block;
    font-size: 1.2em;
}
.time {
    color: #333;
    position: absolute;
    width: 100%;
    margin-top: 45vh;
    margin-bottom: 10%;
    align-content: center;
    text-align: center;
    z-index: 2;
  }

  * {box-sizing:border-box}
.content{
    min-width: 50vw;
    height: 100vh;
    background-color:rgb(0, 195, 255);
    padding: 0 !important;
    margin: 0 !important;
    overflow: hidden !important;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  /* display: none; */
  overflow: hidden;
}
/* .mySlides::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    min-width: 50vw;
    height: 100vh;
    z-index: 1;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: inset 60px 50px 100px #000000, inset -60px -50px 100px #000000;
} */
.mySlides img{
    min-width: 100vw;
    max-height: 100vh;
    margin-left: -35vh;
  }

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3.5s;
  animation-name: fade;
  animation-duration: 3.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.about-us{
    color: seashell;
    background-color: rgb(9, 12, 43);
}

.about-us h1{
    margin-left: 10vh;
    margin-top: 5vh;
    font-size: 1.5em;
    font-weight: 600;
}
.about-us p{
    margin-left: 10vh;
    margin-right: 5vh;
    text-align: justify;
    margin-top: 2vh;
    font-size: 0.8em;
}

.conclave{
    color: seashell;
    background-color: rgb(9, 12, 43);
}

.conclave h1{
    margin-left: 5vh;
    margin-top: 5vh;
    font-size: 1.5em;
    font-weight: 600;
}
.conclave p{
    margin-left: 5vh;
    margin-right: 8vh;
    text-align: justify;
    margin-top: 2vh;
    font-size: 0.8em;
}